<div class="ui container m-t-m">
  <div class="ui stackable one column centered grid">
    <div class="column">
      <h2 class="ui header">
        Email Formarter
        <div class="sub header">Search and remove duplicated email address and whitespace </div>
      </h2>
    </div>
    <div class="column">
      <div class="ui padded segment">
        <div class="ui form">
          <div class="equal width fields">
            <div class="field">
              <label>Paste Email Address here</label>
              <textarea (change)="onChange()" [(ngModel)]="content" rows="20"></textarea>
            </div>
            <div class="field">
              <label>Result</label>
              <textarea [(ngModel)]="resultString" rows="20"></textarea>
            </div>
          </div>
          <div class="field">
            <div class="ui labels">
              <a class="ui blue label">
                Total Email
                <div class="detail">{{initialEmails.length}}</div>
              </a>
              <a class="ui orange label">
                Duplicates
                <div class="detail">{{repeatedEmails.length}}</div>
              </a>
              <a class="ui green right floated label">
                Results
                <div class="detail">{{filteredEmails.length}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui right aligned segment">
        <button (click)="filterEmail()" class="ui basic primary button">Start Scan</button>
      </div>
    </div>
  </div>
</div>