<div class="ui stackable one column centered grid">
  <div class="one column centered row">
    <div class="column" style="margin-top: 1rem; margin-bottom: 1rem;">
      <h2 class="ui header">Email Verification
        <div class="sub header">Checks existence of email addresses </div>
      </h2>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="content">
          <div class="ui form">
            <div class="field">
              <textarea (change)="onChange()" placeholder="Paste Email here.." rows="10" [(ngModel)]="input"></textarea>
            </div>
            <div class="field">
              <a class="ui green label">Total: {{total}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui right aligned segment">
        <button (click)="beginValidation()" [ngClass]="{'disabled': !input, 'loading': loading }" class="ui green right labeled icon button">
          <i class="filter icon"></i>
          Start Verification
        </button>
        <button class='ui button danger' (click)="reset()">
          Reset
        </button>
      </div>
    </div>
    <div class="column">
      <div class="ui form">
        <div class="equal width fields">
          <div class="field">
            <div class="ui fluid card">
              <div class="content">
                <div class="description">
                  <div class="ui form">
                    <div class="field">
                      <label>Valid Email</label>
                      <textarea readonly placeholder="Result.." rows="10" [ngModel]="valid"></textarea>
                    </div>
                    <div>
                      <a class="ui green label">Total: {{validValue.length}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui fluid card">
              <div class="content">
                <div class="description">
                  <div class="ui form">
                    <div class="field">
                      <label for=""> InValid Email</label>
                      <textarea readonly placeholder="Result.." rows="10" [ngModel]="invalid"></textarea>
                    </div>
                    <div>
                      <a class="ui yellow label">Total: {{invalidateValue.length}}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui fluid card">
        <div class="content">
          <div class="ui form">
            <div class="field">
              <label>Failed Request</label>
              <textarea (change)="onChange()" placeholder="Paste Email here.." rows="6" [(ngModel)]="failedValue"></textarea>
            </div>
            <div class="field">
              <a class="ui red label">Failed: {{failed.length}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>